<html>

<head>  
    <meta name="viewport" content="width=device-width, initial-scale=0.75">
</head>



<body style="background-color: rgb(29,30,31); color: white;" onload="myfn()">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <style type="text/css">
      


      @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: rgb(29,30,31);
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 0.75em;
    font-weight: 150;
    line-height: 1em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
  position:fixed;
    top: 1;
    z-index: 5;
  /* position: sticky; */
    background-color: rgb(33,37,41);
    padding: 5px 5px;
    /* z-index: 10; */
    /* background: #eb2228; */
    border: none;
    border-radius: 2;
    margin-bottom: 5px;
    /* box-shadow: 1px 1px 3px rgb(255 255 255 / 10%); */
    width: 90%;
}


.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.sticky{
position: fixed;
top: 1;
z-index: 1;
}


.line {
    width: 70%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 5px 0;
}


.gtg {
    height: 10vh;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(65, 0, 0));
    border-bottom-left-radius: 2rem ;
    border-bottom-right-radius: 2rem ;
  }
  
  .hero-img{
    height: 5vh;
    margin-top: 5px;
    padding-top: 5px;
    background-image: url('/images/HV Logo Reverse@250x.png');
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: 7%;
    position:relative;
    border-bottom: #aaa;
  }
  
  .card_custom{
    max-width: 7rem; 
    border: none;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
    top: -3rem;
    text-decoration: none;
    align-items: center;
  }
  .card_custom:hover{
    box-shadow: 0px 5px 5px rgba(0,0,0,.75);}
  
  .admincard{
    box-shadow: 0px 5px 10px rgba(255, 0, 0, 0.7); ;
  }
  .admincard:hover{
    box-shadow: 0px 5px 5px rgba(255, 0, 0, .8); 
  }
  .a{
    text-decoration: none;
  }

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
  position: fixed;
    min-width: 200px;
    max-width: 300px;
    
    background: rgb(33,37,41);
    color: #fff;
    transition: all 0.3s;
    box-shadow: -5px -15px 15px rgb(203, 203, 203);
    height: 101vh;
    overflow-x: clip;
    overflow-y: clip;

}


#sidebar.active {
    margin-left: -205px;
}

#sidebar .sidebar-header {
    padding: 5px;
    background: rgb(28,28,28);
}

.list-unstyled li{
    
    padding-left: 0rem;
    ;
}

#sidebar ul.components {
    padding: 20px 0;
    padding-left: -1px;
    border-bottom: 1px solid #00000000;
    height: 100vh;
}




#sidebar ul p {
    color: rgb(255, 255, 255);
    padding: 5px;
    
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    
}

#sidebar ul li a:hover {
    /* color: #ff0008; */
    background: rgba(249, 0, 0, 0.672);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #434242;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #434242;
}


ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #eb2228;
}

a.article,
a.article:hover {
    background: #eb2228 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

 #content {
    width: 99%;
    padding: 5px;
    padding-left: 207px;
    /* min-height: 7em; */
    min-height: 100vh;
    transition: all 0.3s;
    background-color: rgb(29,30,31);
    overflow-x: overlay;
} 

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -220px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
/* ---------------------------------------------------------------------- */
/* CSS for Popup */
/* ---------------------------------------------------------------------- */



.modal-window {
  position: fixed;
  background-color: rgba(142, 137, 137, 0.521);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0em;
  background: white;
}
.modal-window header {
  font-weight: bold;
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-close:hover {
  color: black;
}

/* Demo Styles */
html,
body {
  height: 100%;
}

html {
  font-size: 18px;
  line-height: 1.4;
}
/* 
body {
  font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 600;
  background-image: linear-gradient(to right, #ffffff 0, #ffffff 100%);
  color: black;
} */

a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-window > div {
  border-radius: 1rem;
}

.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}
#marginalspace{
    margin-top: 0px;
}

.logo {
  max-width: 150px;
  display: block;
}

small {
  color: lightgray;
}

.btn {
    background-color: rgb(67,66,66);
    padding: 5.5px;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: medium;
    margin-right: 69px;
    /* margin-top: 2px; */
    padding-top: 6px;
    margin-top: -27px;
}

.btn i {
  padding-right: 0.3em;
}

/*-------------------------------------------------------------------------------------- 
Style for Navbars

-----------------------------------------------------------------------------------------*/

   


table, td, th {  
 border: 1px solid #383939;
 text-align:left;
 max-height: 80px;
 word-wrap:break-word;
 font-size: small;
 border-style: groove;
}
th{
  font-size: medium;
}
table{
 border-collapse: collapse;
 width: 30%;
}
.table-data{
  /* overflow-x:auto;
  overflow-y: auto;  */
  /* height:700px; */
  height: auto;
  width: auto;
}
.headcol {
       position:absolute;
        width: 5rem;
        left: 200px;
        
        z-index: 2;
        border-top-width: 1px;
        margin-top: -1px;
      }
.headcol_edit {
       position:absolute;
        width: 5rem;
        left: 505px;
        
        z-index: 2;
        border-top-width: 1px;
        margin-top: -1px;
      }
.headcol1 {
  position: sticky;
    width: 5rem;
    left: 200px;
    z-index: 1;
    background-color: #202123;
    border: 1px solid black;
    margin-top: -1px;

      }

      .headcol1_edit {
        align-items: center;
        width: max-content;
    position:sticky;
    width: 5rem;
    left: 505px;
    z-index: 1;
    background-color: #202123;
    /* border-top-width: 2px; */
    border: 1px solid black;
    margin-top: -1px;

      }

    thead{

      }
.table-data th {
  position: sticky;
    top: 1;
    background-color: #383939;
    }
 td {
  padding: 5px;
}

th {
  padding: 5px;
}


.datehere{
  white-space: nowrap;
    /* width: 18px; */
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70px;

}


</style>

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar" class="sticky">

        <div class="sidebar-header">
            <a href="/user/dashboard">
            <img src="../public/images/HV Logo Reverse@250x.png"  alt="" width="99%" height="55px">
            </a>
        </div>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
        <ul class="list-unstyled components" style="    FONT-SIZE: initial;">
          <li>
            <a href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> <h6><i class="bi bi-cart-check" style="margin-right: 10px ; font-size: 25px;"> </i> DELIVERY</h6>  </a>
            <ul class="pageSubmenu1" id="pageSubmenu1">
                <ul style="    margin-left: -71px;">
                    <a href="/wrud/read_deli" style="    border: solid;
                    border-width: thin;
                    border-color: #7e7e7e;
                    border-radius: 4px;
                ">UPDATE DELIVERY <BR>ENTRY</BR></a>
                </ul>

                <ul style="    margin-left: -71px;">
                  <a href="/mang/insert" style="    border: solid;
                  border-width: thin;
                  border-color: #7e7e7e;
                  border-radius: 4px;
              ">LRM / OPS ANALYST</a>
              </ul>
                
              <ul style="    margin-left: -71px;">
                <a href="/del/insert" style="    border: solid;
                border-width: thin;
                border-color: #7e7e7e;
                border-radius: 4px;
            ">ASSIGN PROGRAM <br> DELIVERY</BR></a>
            </ul>
           
                
            </ul>
        </li>
      </ul>
      <button type="button" class="btn btn-danger" style="width: 90%; --bs-btn-hover-bg: #ff0019; bottom: 30;position: absolute;"> <a href="/users/logout"><i class="bi bi-box-arrow-left"></i>Logout</a></button>
    </nav>

    <!-- Page Content  -->
  
     
    

<!-- 
Enter Content From Here 

-->

<div class="majorcontainer" style="padding-top: 0px;" >


  <div class="table-data" style="margin-left: 205px;">
    <table border="1" >
      <thead>
        <th >S.N</th>
        <th >Customer_Id</th>
        <th class="headcol">Learner's Details</th>
        <th class="headcol_edit">Edit</th>

        <!-- <th>Email id</th>
        <th>Phone Number</th> -->
        <th>Program</th>

        <th>Batch_number</th>


        <th>Scholarship_%</th>
       
        <th>Deferemment_Fees</th>
        <th>Deferrement_Finance_Approved</th>

        <th>Price_Without_Tax</th>

        <th>Total</th>

        <th>Remaining</th>

        <th>Delivery_Date_Of_First_Request</th>



        <th>Delivery_Date_Of_Acceptance</th>
        <th>Delivery_Request_Made</th>
        <th>Delivery_Final_Status</th>
        <th>Delivery_Reason</th>

        <th>Delivery_Detailed_Notes</th>
        <th>Delivery_Deferred_To_Month</th>

        <th>Deferred_Program</th>
        <th>Deferred_Batch_No</th>

        <th>Total_Career_Session_Hours</th>
        <th>Total_Live_Classes_Attended</th>


        <th>Classes_Attended</th>
        <th>Welcome_Kit_Sent</th>
        <th>Pm_Name</th>
        <th>Assignment_Assigned</th>
        <th>Assignment_Submitted</th>
        <th>Comment By Gunjan</th>
        <th>Any Other Comment</th>


          

      </thead>
        
        <%
        if(fetchData.length!=0){
        var i=1;
        fetchData.forEach(function(data){
        
       if(i%2==0){ %>
        <tr style="background-color: #383838;">
        <%}else{ %>
        <tr style="background-color: #0f0f0f;"><%}%>
            <td><%=i; %></td>
            <td><%=data.customer_id %></td>

            <%if(i%2==0){ %>
            <td class="headcol1 py-1" style="background-color: #383838;"><%=data.customer_name %> <br> <%=data.phone_number %> <br>  <%=data.email_address %></td>   
            <td  class="headcol1_edit py-1" style="background-color: #383838;"><a href="/wrud/edit/<%=data.id%>" style="border: none;background-color: #383838; "><i class="bi bi-pen-fill p-3"></i></a></td>

            <%}else{ %>
              <td class="headcol1 py-1" style="background-color: #0f0f0f;"><%=data.customer_name %> <br> <%=data.phone_number %> <br>  <%=data.email_address %></td>   
            <td  class="headcol1_edit py-1" style="background-color: #0f0f0f;"><a href="/wrud/edit/<%=data.id%>" style="border: none;background-color: #0f0f0f; "><i class="bi bi-pen-fill p-3"></i></a></td><%}%>
  
            <!-- <td><%=data.phone_number %></td>
            <td><%=data.email_address %></td> -->
            <!-- <td><%=data.email_address %></td>
          <td><%=data.phone_number %></td> -->
          <td><%=data.program %></td>
  
          <td><%=data.batch_number %></td>
          <td><%=data.scholarship_per%></td>
        
          <td><%=data.deferemment_fees%></td>
          <td><%=data.deferrement_finance_approved%></td>
  
          <td><%=data.price_without_tax%></td>
  
          <td><%=data.total%></td>
  
          <td><%=data.remaining%></td>
          <td class="datehere" ><%=data.delivery_date_of_first_request %></td>
  
  
  
          <td class="datehere" ><%=data.delivery_date_of_acceptance %></td>
  
          <td><%=data.delivery_request_made%></td>
          <td><%=data.delivery_final_status %></td>
          <td><%=data.delivery_reason %></td>
  
          <td><%=data.delivery_detailed_notes %></td>
          <td><%=data.delivery_deferred_to_month %></td>
  
          <td><%=data.deferred_program%></td>
          <td><%=data.deferred_batch_no%></td>
  
          <td><%=data.total_career_session_hours%></td>
  
          <td><%=data.total_live_classes_attended%></td>
  
          <td><%=data.classes_attended%></td>
          <td><%=data.welcome_kit_sent%></td>
          <td><%=data.pm_name%></td>
          <td><%=data.assignment_assigned%></td>
          <td><%=data.assignment_submitted%></td>
          <td><%=data.del_comment_over_gunjan%></td>
          <td><%=data.comment%></td>
  
        </tr>
        <%  i++; }) %>
        <% } else{ %>
            <tr>
                <td colspan="7">No Data Found</td>
            </tr>
        <% } %>
    </table>
    </div>
  

</div>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script> 
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>

<script>



  function done() { 
document.getElementById("popup").style.display = "none";
var password = document.getElementById("pass").value;

//DO STUFF WITH PASSWORD HERE
};


</script>


</body>

    <!-- <h3>SALESX Form</h3> -->
    

</html>
